body {
	margin: 0;
	padding: 0;
	font-size: 100%;
}

header {
	display: flex;
	background-color: aqua;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: wrap;
	background: radial-gradient(yellow, aqua, blue);
}


.logo {
	width: 100px;
	height: 100px;
	background-image: url(logo.png);
	background-size: cover;
	background-repeat: no-repeat;
	margin-left: 50px;
}

#container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 60px;
}

nav {
	flex:1 0px;
}

article {
flex:4 0px;
	padding-right:20px;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 0.875em;
	font-family: Arial, sans-serif;
	font-style: italic;
	font-weight: bolder;
}

h3 {
font-size: 1.5em;
}


ul {
	padding: 0;
	list-style-type: circle;
}



a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


ul li a {
	color: black;
	margin: 0;
	padding: 10px;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 1.25em;
}

form:target {
	display: none;
}


footer {
	height: 60px;
	width: 100%;
	bottom: 0;
	position: fixed;
	background-color: chartreuse;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.85em;
	font-weight: bold;
}

table {
	width:100%;
}

tr, input, select{
	background-color: aquamarine;
}
/*tr:nth-child(2n+1) select{
    background-color: aquamarine
}*/
tr:nth-child(2n), tr:nth-child(2n) input, tr:nth-child(2n) select{
	background-color: silver;
}

tr:hover, tr:hover input {
	background-color: yellow;
}


table td input, select {
	border-style: none;
	font-size: 1em;
	font-family: Arial;
	width: 100%;
	margin:0;
	padding: 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

input:invalid {
	background-color: #ffdddd;
}

article #form_1, article #form_2, article #form_3 {
	display: none;
}

article #form_1:target, article #form_2:target, article #form_3:target {
	display: block;
}

 

@media print{
    h1{
        display: none;
    }
    
	h3{
        color: black;
    }
    
	footer{
        display: none;
    }

    header{
        display:none;
    }

    nav{
        display: none;
    }


	table { 
		border-collapse: collapse; 
        background-color: white;
	}
    tr:hover, tr:hover input{
        background-color: white;
    }

	table th{
		font-weight:normal;
        background-color: white;
	}
    tr:nth-child(2n), tr:nth-child(2n) input, tr:nth-child(2n) select{
	background-color: white;
}
    table, td, th, select{
        background-color: white;
    }

    td{
        border-bottom: 1px solid #000;
        background-color: white;
    }

	table td:last-child, table th:last-child{
        display:none;
        background-color: white;
    }

    input {
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
        background-color: white;
	}
  
    input:invalid{
        background-color: white;
    }
}